In [1]:
# Pre-processing file : Necessary changes to the dataset before training the model

import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv(r"C:\Users\dhanu\OneDrive\Desktop\cdc project\train_1_tab.csv")
df_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,9117000170,20150505T000000,268643,4,2.25,1810,9240,2.0,0,0,...,7,1810,0,1961,0,98055,47.4362,-122.187,1660,9240
1,6700390210,20140708T000000,245000,3,2.50,1600,2788,2.0,0,0,...,7,1600,0,1992,0,98031,47.4034,-122.187,1720,3605
2,7212660540,20150115T000000,200000,4,2.50,1720,8638,2.0,0,0,...,8,1720,0,1994,0,98003,47.2704,-122.313,1870,7455
3,8562780200,20150427T000000,352499,2,2.25,1240,705,2.0,0,0,...,7,1150,90,2009,0,98027,47.5321,-122.073,1240,750
4,7760400350,20141205T000000,232000,3,2.00,1280,13356,1.0,0,0,...,7,1280,0,1994,0,98042,47.3715,-122.074,1590,8071

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16209 entries, 0 to 16208
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             16209 non-null  int64
 1   date           16209 non-null  object
 2   price          16209 non-null  int64
 3   bedrooms       16209 non-null  int64
 4   bathrooms      16209 non-null  float64
 5   sqft_living    16209 non-null  int64
 6   sqft_lot       16209 non-null  int64
 7   floors         16209 non-null  float64
 8   waterfront     16209 non-null  int64
 9   view           16209 non-null  int64
 10  condition      16209 non-null  int64
 11  grade          16209 non-null  int64
 12  sqft_above     16209 non-null  int64
 13  sqft_basement  16209 non-null  int64
 14  yr_built       16209 non-null  int64
 15  yr_renovated   16209 non-null  int64
 16  zipcode        16209 non-null  int64
 17  lat            16209 non-null  float64
 18  long           16209 non-null  float64
 19  sqft_living15  16209 non-null  int64
 20  sqft_lot15     16209 non-null  int64
dtypes: float64(4), int64(16), object(1)
memory usage: 2.6+ MB

In [4]:
# convert date column from object dtype into datetime dtype
# convert id column from int64 to string 

df_train["id"] = df_train["id"].astype(str)

df_train["date"] = pd.to_datetime(df_train["date"])
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16209 entries, 0 to 16208
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             16209 non-null  object
 1   date           16209 non-null  datetime64[ns]
 2   price          16209 non-null  int64
 3   bedrooms       16209 non-null  int64
 4   bathrooms      16209 non-null  float64
 5   sqft_living    16209 non-null  int64
 6   sqft_lot       16209 non-null  int64
 7   floors         16209 non-null  float64
 8   waterfront     16209 non-null  int64
 9   view           16209 non-null  int64
 10  condition      16209 non-null  int64
 11  grade          16209 non-null  int64
 12  sqft_above     16209 non-null  int64
 13  sqft_basement  16209 non-null  int64
 14  yr_built       16209 non-null  int64
 15  yr_renovated   16209 non-null  int64
 16  zipcode        16209 non-null  int64
 17  lat            16209 non-null  float64
 18  long           16209 non-null  float64
 19  sqft_living15  16209 non-null  int64
 20  sqft_lot15     16209 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(15), object(1)
memory usage: 2.6+ MB

In [5]:
df_train["date"].dt.year.max()

np.int32(2015)

In [ ]:
# successfully altered the dtypes
# let's do some feature engineering

# house characteristics :

df_train["sqft_per_bed"] = df_train["sqft_living"] / (df_train["bedrooms"] + 1)
df_train["bath_per_bed"] = df_train["bathrooms"] / (df_train["bedrooms"] + 1)
df_train["lot_living_ratio"] = df_train["sqft_lot"] / (df_train["sqft_living"] + 1)

# basement and upper floor mentions

df_train["basements_ratio"] = df_train["sqft_basement"] / (df_train["sqft_living"] + 1)
df_train["above_floors_ratio"] = df_train["sqft_above"] / (df_train["sqft_living"] + 1)

# density of the neighborhood : how big or small are the neighborhood houses relatively

df_train["living_density"] = df_train["sqft_living"] / (df_train["sqft_living15"] + 1)
df_train["lot_density"] = df_train["sqft_lot"] + (df_train["sqft_lot15"] + 1)

# features based on the date
df_train["year_sale"] = df_train["date"].dt.year
df_train["month_sale"] = df_train["date"].dt.month
df_train["quarter_sale"] = df_train["date"].dt.quarter
df_train["days_since_start"] = ((df_train["date"] - df_train["date"].min() ).dt.days)


# features based on renovation
df_train["renovation"] = (df_train["yr_renovated"] > 0).astype(int)
df_train["years_since_renovation"] = np.where( df_train["yr_renovated"] > 0, 2015 - df_train["yr_renovated"], 0 )

In [7]:
df_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,basements_ratio,above_floors_ratio,living_density,lot_density,year_sale,month_sale,quarter_sale,days_since_start,renovation,years_since_renovation
0,9117000170,2015-05-05,268643,4,2.25,1810,9240,2.0,0,0,...,0.000000,0.999448,1.089705,18481,2015,5,2,368,0,0
1,6700390210,2014-07-08,245000,3,2.50,1600,2788,2.0,0,0,...,0.000000,0.999375,0.929692,6394,2014,7,3,67,0,0
2,7212660540,2015-01-15,200000,4,2.50,1720,8638,2.0,0,0,...,0.000000,0.999419,0.919294,16094,2015,1,1,258,0,0
3,8562780200,2015-04-27,352499,2,2.25,1240,705,2.0,0,0,...,0.072522,0.926672,0.999194,1456,2015,4,2,360,0,0
4,7760400350,2014-12-05,232000,3,2.00,1280,13356,1.0,0,0,...,0.000000,0.999219,0.804525,21428,2014,12,4,217,0,0

In [11]:
# removing the duplicated values, and storing the rows based on the recent sale of the house
df_train = df_train.sort_values("date")
df_train = df_train.groupby("id", as_index = False).last()

In [15]:
df_train.to_csv(r"C:\Users\dhanu\OneDrive\Desktop\cdc project\train_preprocessed.csv", index = False)

In [2]:
# doing all of these preprocessing to testing data also

df_test = pd.read_csv(r"C:\Users\dhanu\OneDrive\Desktop\cdc project\test_2_tab.csv")
df_test.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5404 entries, 0 to 5403
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             5404 non-null   int64
 1   date           5404 non-null   object
 2   bedrooms       5404 non-null   int64
 3   bathrooms      5404 non-null   float64
 4   sqft_living    5404 non-null   int64
 5   sqft_lot       5404 non-null   int64
 6   floors         5404 non-null   float64
 7   waterfront     5404 non-null   int64
 8   view           5404 non-null   int64
 9   condition      5404 non-null   int64
 10  grade          5404 non-null   int64
 11  sqft_above     5404 non-null   int64
 12  sqft_basement  5404 non-null   int64
 13  yr_built       5404 non-null   int64
 14  yr_renovated   5404 non-null   int64
 15  zipcode        5404 non-null   int64
 16  lat            5404 non-null   float64
 17  long           5404 non-null   float64
 18  sqft_living15  5404 non-null   int64
 19  sqft_lot15     5404 non-null   int64
dtypes: float64(4), int64(15), object(1)
memory usage: 844.5+ KB

In [6]:
# convert id to string dtype, date column to datetime dtype

df_test["id"] = df_test["id"].astype(str)

df_test["date"] = pd.to_datetime(df_test["date"])

# house characteristics :

df_test["sqft_per_bed"] = df_test["sqft_living"] / (df_test["bedrooms"] + 1)
df_test["bath_per_bed"] = df_test["bathrooms"] / (df_test["bedrooms"] + 1)
df_test["lot_living_ratio"] = df_test["sqft_lot"] / (df_test["sqft_living"] + 1)

# basement and upper floor mentions

df_test["basements_ratio"] = df_test["sqft_basement"] / (df_test["sqft_living"] + 1)
df_test["above_floors_ratio"] = df_test["sqft_above"] / (df_test["sqft_living"] + 1)

# density of the neighborhood : how big or small are the neighborhood houses relatively

df_test["living_density"] = df_test["sqft_living"] / (df_test["sqft_living15"] + 1)
df_test["lot_density"] = df_test["sqft_lot"] + (df_test["sqft_lot15"] + 1)

# features based on the date
df_test["year_sale"] = df_test["date"].dt.year
df_test["month_sale"] = df_test["date"].dt.month
df_test["quarter_sale"] = df_test["date"].dt.quarter
df_test["days_since_start"] = ((df_test["date"] - df_test["date"].min() ).dt.days)


# features based on renovation
df_test["renovation"] = (df_test["yr_renovated"] > 0).astype(int)
df_test["years_since_renovation"] = np.where( df_test["yr_renovated"] > 0, 2015 - df_test["yr_renovated"], 0 )

In [9]:
df_test.to_csv(r"C:\Users\dhanu\OneDrive\Desktop\cdc project\test_preprocessed.csv", index = False)